
/**Remove Free account Message **/
div[id*="newcb"]{
    display: none !important;
}

div.highcharts-container{
    width: 100% !important;
}
svg.highcharts-root{
   width: 100% !important; 
}

form[action*="https://c1hbp155.caspio.com"] div,
form[action*="https://c1hbp155.caspio.com"] div section{
    width: 100%;
}
.cbFormLabelCell > label{
    margin-bottom: 0px;
} 

div[id^='cbOuterAjaxCtnr'] table{
    width: 100%
}  
select:disabled {
    appearance: none;
}
  